body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: white;
}

header {
    background-color: #000000;

}
.slogan {
    color: orange;
    padding:5px;
    font-size: small;
    font-style: italic;
    font-family:fantasy;
}
.logo img {
    width: 130px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Ajustez la hauteur en conséquence */
}
.contact {
    color: orange;
}
.social-icons {
    display: flex;
    gap: 20px;
     justify-content: flex-end; /* Aligner les icônes à droite */
}

.social-icons img {
    width: 30px; /* Ajustez la taille des logos selon vos besoins */
    height: auto;
    align-items: center;

}

.logo img {
    width: 100px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto;
}



.car {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

