body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
background-color: white;
font-size: 16px;
line-height: 1.5;
}

/* Media Query pour les écrans plus larges (par exemple, tablettes et ordinateurs) */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

header {
    background-color: #000000;

}
.slogan {
    color: orange;
    padding:5px;
    font-size: small;
    font-style: italic;
    font-family:fantasy;
}
.logo img {
    width: 130px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Ajustez la hauteur en conséquence */
}
.contact {
    color: orange;
}
.social-icons {
    display: flex;
    gap: 20px;
     justify-content: flex-end; /* Aligner les icônes à droite */
}

.social-icons img {
    width: 30px; /* Ajustez la taille des logos selon vos besoins */
    height: auto;
    align-items: center;

}

.logo img {
    width: 100px; /* Ajustez la largeur du logo selon vos besoins */
    height: auto;
}



.car {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container {
    display: flex;
    flex-direction: column; /* Par défaut pour les petits écrans, colonne */
}

/* Media Query pour les écrans plus larges (par exemple, tablettes et ordinateurs) */
@media (min-width: 768px) {
    .container {
        flex-direction: row; /* Pour les écrans plus larges, rangée */
    }
}

/* Styles pour la navigation mobile */
nav {
    display: none;
}

/* Media Query pour les écrans plus larges (par exemple, tablettes et ordinateurs) */
@media (min-width: 768px) {
    nav {
        display: block;
    }
}
.showroom-btn {
    background-color: #c58119; /* orange */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.showroom-btn:hover {
    background-color: #45a049; /* Darker green */
}

.showroom-btn:active {
    background-color: #3e8e41; /* Even darker green */
    box-shadow: none;
}

.centered {
    
    text-align: center;
    position: absolute;
  
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:medium;

}